/* トップページのCSS */

/*
--------------------------------------------------
 category-list
--------------------------------------------------
*/
.category-list {
  padding: 40px 20px;
}

.category {
  max-width: 1120px;
  margin: auto;
  margin-bottom: 40px;
}
.category:last-child {
  margin-bottom: 0;
}

.category__title {
  font-size: calc(var(--base-fontSize) * 1.875);
  border-left: 3px solid var(--color-primary);
  padding-left: 10px;
  margin-bottom: 20px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-list__item {
  width: calc((100% - 20px) / 2);
  margin-bottom: 60px;
}
.card-list__item:last-child {
  margin-bottom: 0;
}

.card {
  display: flex;
  flex-direction: column;
}

.card__image {
  margin-bottom: 10px;
}

.card__title {
  font-size: calc(var(--base-fontSize) * 1.5);
  margin-bottom: 10px;
}

.card__text {
  font-size: calc(var(--base-fontSize) * 1);
  margin-bottom: 10px;
}

.card__meta {
  display: flex;
  align-items: baseline;
}

.card__meta-item {
  margin-left: 10px;
  color: gray;
  font-size: 16px;
}

.card__meta-item:first-child {
  margin-left: 0;
}

/*
--------------------------------------------------
 Responsive Styles
--------------------------------------------------
*/
@media screen and (max-width: 767px) {
  .page-header__inner,
  .category {
    max-width: auto;
  }
  .card-list__item {
    width: 100%;
  }
}
